# Force the isolated (symlink) structure
node-linker=hoisted
symlink=false

# Ensure hardlinks are used from the global store
package-import-method=hardlink

# Check if your store is on the same drive!
# If not, pnpm will have to copy.

auto-install-peers=true
legacy-peer-deps=true