# Force the isolated (symlink) structure
node-linker=isolated

# Ensure hardlinks are used from the global store
package-import-method=hardlink

# Check if your store is on the same drive!
# If not, pnpm will have to copy.